
<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
      <a routerLink="/item" class="rk-item ae-masonry__item"><img src="assets/img/project-1.jpg" alt="">
        <div class="item-meta">
            <h2>Producto</h2>
            <p>Branding</p>
          </div>
        </a>
        <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-2.jpg" alt="">
          <div class="item-meta">
            <h2>Carcasa</h2>
            <p>Art Direction</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-3.jpg" alt="">
          <div class="item-meta">
            <h2>Libros</h2>
            <p>Graphic Design</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-4.jpg" alt="">
          <div class="item-meta">
            <h2>Diseño en Tumblr</h2>
            <p>Packaging</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-5.jpg" alt="">
          <div class="item-meta">
            <h2>Biodiesel</h2>
            <p>Branding</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-6.jpg" alt="">
          <div class="item-meta">
            <h2>Poleras</h2>
            <p>Graphic Design</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-7.jpg" alt="">
          <div class="item-meta">
            <h2>Lapices</h2>
            <p>Graphic Design</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-8.jpg" alt="">
          <div class="item-meta">
            <h2>Confianza en Madera</h2>
            <p>Packaging</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-9.jpg" alt="">
          <div class="item-meta">
            <h2>Bolsas</h2>
            <p>Branding</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-10.jpg" alt="">
          <div class="item-meta">
            <h2>Papel</h2>
            <p>UI/UX</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-11.jpg" alt="">
          <div class="item-meta">
            <h2>Caja</h2>
            <p>Graphic Design</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-12.jpg" alt="">
          <div class="item-meta">
            <h2>Tarjetas</h2>
            <p>Packaging</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-13.jpg" alt="">
          <div class="item-meta">
            <h2>Papeles</h2>
            <p>Ui/UX</p>
        </div></a>
    </div>
</section>
